:root {
  /* Color scheme */
  --primary-color: #a2a16b; /* Vibrant blue */
  --secondary-color: #ded07e; /* Gold */
  --text-color: #333; /* Dark grey */
  --background-color: #8da48a; /* White */
  --link-color: #2a7ea2; /* Soft blue */
  --link-hover-color: #054283; /* Darker blue */

  /* Typography */
  --font-family: 'Arial', sans-serif;
  --font-size: 16px; /* Base font size */
  --line-height: 1.6;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Spacing */
  --base-spacing: 1rem;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
  margin-top: var(--base-spacing);
  margin-bottom: var(--base-spacing);
}

p {
  margin-top: 0;
  margin-bottom: var(--base-spacing);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--link-hover-color);
  }
}

button {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: var(--base-spacing);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  &:hover {
    background-color: var(--secondary-color);
  }

  &:focus {
    outline: 3px solid var(--secondary-color);
  }
}